@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1725537b;
  --azul-oscuro: #050614;
  --color-navy-blue: #304264;
  --azul-suave: #607597;
  --azul-suave-text: #C9CEE0;
  --azul-suave-text2:rgb(6, 10, 131)0;

  --font-titulos: 'Gluten', sans-serif;
  --font-texto: 'Vina Sans', sans-serif;
}

body {
  background-color: var(--azul-oscuro);
}

h1 {
  font-family: var(--font-titulos);
  font-weight: 400;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
}