@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --full-black: #000000;
  --background: #141717;
  --color-contrast-yellow: #ffd000;
  --color-contrast-blue : #0033ab;
  --color-dark: #232624;
  --color-semi-dark:#1d1f1f;
  --color-medium-dark: #3c3f39;
  --color-medium: #61635c;
  --color-light: #979891;

  --font-texto: 'Vina Sans', sans-serif;

  --font-titulos: 'Orbitron', sans-serif;
}

body {
  background-color: var(--color-dark);
}

h1 {
  font-family: var(--font-titulos);
  font-weight: 700;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
}